    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(
        to bottom,
        #CC0000 0%,       /* rojo intenso */
        #CC0000 40%,      /* rojo dominante */
        #660000 48%,      /* rojo oscuro antes de negro */
        #000000 50%,      /* negro en el centro */
        #CCCCCC 52%,      /* gris claro transición */
        #FFFFFF 60%,      /* blanco limpio */
        #FFFFFF 100%      /* blanco completo */
      );
    }

.barra {
background-color: black;
padding: 10px 20px;
display: flex; 
justify-content: space-between; 
align-items: center; 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  .barra img {
      height: 60px;
    }
.logo .Logo {
color: #00bcd4;
font-size: 24px;
font-weight: bold;
text-decoration: none;
}

.basic  {
list-style: none;
padding: 0;
margin: 0;
display: flex; 
gap: 25px; 
}

.basic li a {
text-decoration: none;
color: white;
padding: 8px 12px;
display: block;
transition: background-color 0.3s ease, color 0.3s ease;
border-radius: 4px;
}

.basic li a:hover {
background-color: #FFCB05;
color: #3B4CCA;
}
.creditos {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.creditos h1 {
  text-align: center;
  color: #3b4cca;
  margin-bottom: 30px;
}

.persona,
.fuentes {
  margin-bottom: 30px;
}

.persona h3,
.fuentes h3 {
  color: #cc0000;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

a {
  color: #2a75bb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.agradecimiento {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  color: #555;
}