    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(
        to bottom,
        #CC0000 0%,       /* rojo intenso */
        #CC0000 40%,      /* rojo dominante */
        #660000 48%,      /* rojo oscuro antes de negro */
        #000000 50%,      /* negro en el centro */
        #CCCCCC 52%,      /* gris claro transición */
        #FFFFFF 60%,      /* blanco limpio */
        #FFFFFF 100%      /* blanco completo */
      );
    }

.barra {
background-color: black;
padding: 10px 20px;
display: flex; 
justify-content: space-between; 
align-items: center; 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  .barra img {
      height: 60px;
    }
.logo .Logo {
color: #00bcd4;
font-size: 24px;
font-weight: bold;
text-decoration: none;
}

.basic  {
list-style: none;
padding: 0;
margin: 0;
display: flex; 
gap: 25px; 
}

.basic li a {
text-decoration: none;
color: white;
padding: 8px 12px;
display: block;
transition: background-color 0.3s ease, color 0.3s ease;
border-radius: 4px;
}

.basic li a:hover {
background-color: #FFCB05;
color: #3B4CCA;
}
        .contenedor {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        gap: 12px;
        max-width: 100%; 
        margin: 0 auto;
        padding: 10px;
        }

        .item {
        width: 100%;
        aspect-ratio: 1 / 1; 
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.7);
        cursor: pointer;
        transition: filter 0.4s ease; 
        }

        .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:
            brightness(0.95)
            contrast(1.3)
            saturate(1.5)
            sepia(0.25)
            drop-shadow(0 0 5px rgba(255, 140, 0, 0.6));
        transition: filter 0.4s ease;
        }

        .item:hover img {
            filter:
            brightness(1.1)
            contrast(1.6)
            saturate(2)
            sepia(0.4)
            drop-shadow(0 0 15px rgba(255, 140, 0, 0.9))
            blur(0.8px);
        }